[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
dash = "*"
dash-renderer = "*"
dash-core-components = "*"
dash-html-components = "*"
gunicorn = "*"
config = "*"
"psycopg2-binary" = "*"
scrapy = "*"
tqdm = "*"
"boto3" = "*"
"psycopg2" = "*"

[dev-packages]

[requires]
python_version = "3.6"
